 body{
    background-color: #fff;
 }
h1{
    font-size: 3rem;
    color: #007bff;
    text-align: center;
}
#grilleContainer{
    width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;margin: auto;
    padding-top: 1rem;
}
#grille{
    display: grid;
    grid-template-columns: repeat(10,1fr);
    /* display: flex; */
    /* flex-direction: row; */
    /* justify-content: center; */
    /* align-items: center; */
    /* flex-wrap: wrap; */
    gap: 10px;
    /* justify-content: center; */
    /* background-color: antiquewhite; */
    margin-bottom: 1rem;
}
section{
    border-radius: 10px;
    border: 1px solid #333;
    padding: 3rem;
    width: 100%;
}
.numero{
    /* border: 1px solid black; */
    vertical-align: baseline;
    height: 2rem;
    width: 2rem;
    background-color: #b8daff;
    border-radius: 5px;
    color: rgb(31, 31, 31);
    text-align: center;
    cursor: pointer;
}


.chosen{
    background-color: brown;
    color: aqua;
}

button{
    margin-bottom: 10px;
    
}

#joueurContainer{
    margin-bottom: 2rem;
}

/* Animations */
.animCase{
    animation: animChoisi 0.2s ease-in-out  1 alternate none;
}

@keyframes animChoisi {
    from{
        height: 2rem;
        width: 2rem
    }
    to{
        height: 2.5rem;
        width: 2.5rem;
    }
}